# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider IDE files
.idea/

# Visual Studio Code
.vscode/

# Logs
*.log

# NuGet packages
*.nupkg
*.snupkg

# Paket dependencies
.paket/

# Others
*.dll
*.pdb
*.exe
